[Unit]
Description=Control Transmission upstream limit based on Plex remote streams.
After=transmission-daemon.service
Requires=transmission-daemon.service

[Service]
User=USERNAME
Type=simple
ExecStart=/usr/local/bin/transplex.sh

[Install]
WantedBy=multi-user.target
